<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>roll dice</title>
</head>
<body>
    <!-- <h1> Dice gave value : "use math random in syntax odf ejs  </h1>--> 
    <!-- <h1> dice gave value use num</h1> -->
    <h1> dice gave value</h1>
    <% if(num==6) { %>
    <h2> nice value <%= num %></h2>
    <% } %>

</body>
</html>