<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
   <h3>New Chat</h3>
   <form action="/chats" method="POST">
    <input type="text" placeholder="who you are?" name="from">
    <br><br>
    <input type="text" placeholder="whats your message ?" name="msg">
    <br><br>
    <input type="text" placeholder="who do yo want to send?" name="to">
    <br><br>
    <button>Create New Chat</button>
   </form>
<body>
    
</body>
</html>