div{
    height: 100px;
    width:100px;
    background-color: green;
    border: 2px solid black;
    margin: 5px;
    display: inline-block;
  
   }
   #third{
    display: none;
   }
   h1{
    border: 2px solid black;
    width: 50%;
   }

 