#outer {
    background-color: cornflowerblue;
    height: 400px;
    width: 400px;
    margin :50px;
    border: 2px solid black;
    font-size: 20px;
  }
  #inner {
     background-color: pink;
     height: 100px;
     width: 100px;
     margin-left: 10%;
     font-size: 1.5em;
     padding: 3em;
     /* font size 1.5* size of font size of outer padding 3*font size of inner */
  }
 button{
    font-size: 10px;
    border-radius: 15px;
    border: 5px solid green;
    padding-left: 1em;
    padding-right: 1em;
 }
 section{
    font-size: 15px;
 }
 div{
    font-size: 1.5em;
 }

 span{
    font-size: 3rem;
 }