<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create new post</title>
</head>
<body>
      <form method="post" action="/posts">
        <input placeholder="enter username" name="username"/>
        <br>
        <textarea placeholder="write your text" name="content"></textarea>
        <br>
        <button>submit post</button>
      </form>
</body>
</html>