<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table,tr,td,th{
            border: 1px solid black;
        }

    </style>
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
        <th>Email</th>
        <th>username</th>
        <th>Edit</th>
        </tr>
        <% for(user of results) {%>
            <tr>
                <td> <%=user.id%></td>
                <td><%=user.email%></td>
                <td><%=user.username%></td>
                 <td> <form method="GET" action="/user/<%=user.id%>/edit">
                    <button>edit user</button>
                </form></td>
            </tr>
        <% } %>
    </table>
</body>
</html>