#box1{
    width: 100px;
    height: 100px;
    background-color: green;
    transition: 2s ease-in 0.5s;
}
#box1:hover{
    width: 600px;
}
#box2{
    width: 100px;
    height: 100px;
    background-color: red;
    transform: rotate(90deg);
    transform: translate(200px, 200px);
}
#box3{
    height: 100px;
    width: 100px;
    background-color: lightblue;
    transform: skewX(20deg);

}
#box4{
    height: 100px;
    width: 100px;
    background-color: lightgreen;
    box-shadow: 2px 2px 5px;
}
#mypic{
    height: 200px;
    width: 200px;
    background-image: url("male.jpg");
    background-size: cover;
    opacity: 50%;

}