div{
    height: 100px;
    width: 100px;
    margin: 0 auto;
    background-color: yellow;
    transition: margin-top ease-in-out 2s ;
}
div:hover{
    background-color: pink;
    margin-top: 500px;
}